<head>
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
	<div class="container" id="main-container">
		<h2>Some Flask App<img src="{{url_for('static', filename='images/flask.png')}}" alt="" id="flask-image"> </h2>
		
		<div class="contents">
			<span>Hello there, what are you thinking about?</span>
			<form action="" method="post">
				<input type=text placeholder="Some ingredient" name=word>
	            <input type=submit value=Query>
        	</form><br>
			<span style="width: 100px;">
				{{ func }}
			</span>
		</div>
	</div>

</body>