<!DOCTYPE html>
<html>
<head>
    <title>Bicycle-Mania!</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-datetimepicker.min.css')}}">
</head>


<body>
	<div class="container" id="main-container">
		<h2>Welcome to Bicycle-Mania!</h2>
		
		<div class="contents">
			<div>Hello there!</div> </br>
			<div>Where are you starting from?</div>
			<form action="" method="post">
				<input type=text placeholder="Starting location" name=word>

        	</br></br>

        	<div>Where are you going to?</div>
			<form action="" method="post">
				<input type=text placeholder="Ending location" name=word>

        	</br></br>

		<!-- <div class="form-group"> -->
            <label for="dtp_input1" class="col-sm-3 control-label">When are you getting the bike?</label> </br></br>
            <div class="input-group date form_datetime col-md-3" data-date="2013-08-29T00:00:00Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
            	<form action="" method="post">
                <input class="form-control" size="16" type="text" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
				<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
			<input type="hidden" id="dtp_input1" value="" /><br/>

		 <input type=submit value=Query>
        </form><br>
		</div>
        <!-- </div> -->

	</div>

<script type="text/javascript" src="../static/jquery/jquery-1.11.3.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>

<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
</script> 

</body>
</html>