<html>
<head>
  <title>Bicycle-Mania!</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
  <style>
    #map{ height: 100% }
  </style>
</head>
<body>


  <div id="map" ></div>

  <script>
  L.mapbox.accessToken = 'pk.eyJ1IjoiYW51YmhhdnJnIiwiYSI6ImNpaHp4dTZmYzA0b3V1c2tvZDJ4bW5qbXoifQ.ImJa59gtwiU_bjvyELOgDw'

  var mapboxTiles = L.tileLayer('https://api.mapbox.com/v4/mapbox.streets/{z}/{x}/{y}.png?access_token=' + L.mapbox.accessToken, {
    attribution: '<a href="http://www.mapbox.com/about/maps/" target="_blank">Terms &amp; Feedback</a>'
  });

  var map = L.map('map')
    .addLayer(mapboxTiles)
    .setView([37.7786, -122.3892], 13);

  var myLayer = L.mapbox.featureLayer().addTo(map);


  var lat = {{latitude}};
  var lng = {{longitude}};
  var name = {{name|safe|join}};
  var x = []
  var y = []

  for(i=0;i<name.length;i++){
    if(name[i]!=",")
      x.push(name[i])
    else{
      y.push(x)
      x=[]
  }
};
  
  var temp =[]
  for(i=0;i<y.length;i++)
    temp.push(y[i].join(""))
    // temp.push(y[i].join(""))


  var dock_cnt = {{dock_cnt}};
  var bike_cnt = {{bike_cnt}};
  
  // console.log(lat, lng, lat.length)
  var dropoff_lat = {{dest_lat}};
  var dropoff_lng = {{dest_long}};
  var dropoff_name = {{dest_name|safe}};
  var dropoff_bike_cnt= {{dest_bike_cnt}};
  var dropoff_dock_cnt={{dest_dock_cnt}};
  // console.log(dropoff_lat, dropoff_lng)
  var cl_start_lat = {{cl_start_lat}};
  var cl_start_lng = {{cl_start_long}};
  var cl_start_name = {{cl_start_name|safe}};
  var cl_start_bike_cnt= {{cl_bike_cnt}};
  var cl_start_dock_cnt={{cl_dock_cnt}};
  // console.log(dropoff_lat, dropoff_lng)
  var input_lat = {{input_lat}};
  var input_lng = {{input_long}};
// console.log(dropoff_lat, dropoff_lng)
  var output_lat = {{output_lat}};
  var output_lng = {{output_long}};

  var origin = {{origin|safe}};
  var destination ={{destination|safe}};
  var x = []
  for(i=0; i<lat.length; i++)
  {
    x.push(
    {
        type: 'Feature',
        properties: {
             station_name:temp[i],
             dock_cnt: dock_cnt[i],
             bike_cnt: bike_cnt[i],
            'marker-color': '#0000FF',
            'marker-size': 'large',
            'marker-symbol': 'bicycle'
        },
        geometry: {
            type: 'Point',
            coordinates: [lng[i], lat[i]]
        }
    }
    )
  };

  
  x.push({
        type: 'Feature',
        properties: {
             station_name:String(dropoff_name[0]),
             dock_cnt: dropoff_dock_cnt,
             bike_cnt: dropoff_bike_cnt, 
            'marker-color': '#FF0000',
            'marker-size': 'large',
            'marker-symbol': 'bicycle'
        },
        geometry: {
            type: 'Point',
            coordinates: [dropoff_lng, dropoff_lat]
        }
    })

  x.push({
        type: 'Feature',
        properties: {
            station_name:String(cl_start_name[0]),
            dock_cnt: cl_start_dock_cnt,
            bike_cnt: cl_start_bike_cnt,
            'marker-color': '#00FF00',
            'marker-size': 'large',
            'marker-symbol': 'bicycle'
        },
        geometry: {
            type: 'Point',
            coordinates: [cl_start_lng, cl_start_lat]
        }
    })

  x.push({
        type: 'Feature',
        properties: {
            station_name: String(origin[0]),
            dock_cnt:'INVALID',
            bike_cnt:'INVLAID',
            'marker-color': '#00FF00',
            'marker-size': 'large',
            'marker-symbol': 'star'
        },
        geometry: {
            type: 'Point',
            coordinates: [input_lng, input_lat]
        }
    })

  x.push({
        type: 'Feature',
        properties: {
          station_name:String(destination[0]),
            dock_cnt:'INVALID',
            bike_cnt:'INVLAID',
            'marker-color': '#FF0000',
            'marker-size': 'large',
            'marker-symbol': 'star'
        },
        geometry: {
            type: 'Point',
            coordinates: [output_lng, output_lat]
        }
    })

  
  var geojson= {
    type: 'FeatureCollection',
    features : x
    }

  myLayer.setGeoJSON(geojson);
  var x, y, z

  myLayer.eachLayer(function(layer) {
    x = layer.feature.properties.station_name
    y = layer.feature.geometry.coordinates[1]
    z = layer.feature.geometry.coordinates[0]
    console.log(x, y, z)

    // here you call `bindPopup` with a string of HTML you create - the feature
    // properties declared above are available under `layer.feature.properties`
    var content = '<h2>Bike station!<\/h2>' +
        '<p>Station Name: ' + layer.feature.properties.station_name + '<br \/>' +
        'Bike Count: ' + layer.feature.properties.bike_cnt + '<br \/>' +
        'Dock Count: ' + layer.feature.properties.dock_cnt + '<br\/>'+
        '<button class="trigger">Select</button>' + '<\/p>';
    layer.bindPopup(content);
  });



    // myLayer.bindPopup('<button class="trigger">Select</button>');

  //   $('#map').on('click', '.trigger', function() {
  //   alert('Hello from Toronto!');
  // });

    $("#map").click(function(){
      var form = document.createElement("form");
      document.body.appendChild(form);
      form.method = "POST";
      form.action = "http://127.0.0.1:5000/trip";
      var element1 = document.createElement("input")
      element1innerHTML = ("<INPUT NAME='start_name' TYPE='hidden' VALUE='"+x+"'>");  
      form.appendChild(element1);
      var element2 = document.createElement("input")
      element2.innerHTML = ("<input name='start_lat' type='hidden' value='"+y+"'>");  
      form.appendChild(element2);
      var element3 = document.createElement("input")
      element3.innerHTML = ("<INPUT NAME='start_lng' TYPE='hidden' VALUE='"+z+"'>");  
      form.appendChild(element3);
      var element4 = document.createElement("input")
      element4.innerHTML = ("<INPUT NAME='dest_name' TYPE='hidden' VALUE='"+dropoff_name[0]+"'>"); 
      form.appendChild(element4);
      var element5 = document.createElement("input")
      element5.innerHTML = ("<INPUT NAME='dest_lat' TYPE='hidden' VALUE='"+dropoff_lat+"'>"); 
      form.appendChild(element5);
      var element6 = document.createElement("input")
      element6.innerHTML = ("<INPUT NAME='dest_lng' TYPE='hidden' VALUE='"+dropoff_lng+"'>"); 
      form.appendChild(element6);
      form.submit();
      }
    // $.post("http://127.0.0.1:5000/trip",
    // {
    //     start_name: x,
    //     start_lat: y,
    //     start_lng: z,
    //     dest_name: dropoff_name[0], 
    //     dest_lat: dropoff_lat,
    //     dest_lng: dropoff_lng
    //   }
    // },
    // function(data, status){
    //     alert("Data: " + data + "\nStatus: " + status);
    // }
    // );
);
  

  </script>
</body>
</html>